.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap:50px;
    background: #F6F6F6;
    padding: 45px;
}
.card { 
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: #FF6060;
}

.card img {

    width:340px;
    height: 340px;
    background: #FF6060;

}

.card-title-overlay { 
    position: absolute;
    bottom: 0px;
    left: 12px;
    color: mintcream;
    font-size: 17px;
    font-weight: 700;
    font-family: "Montserrat";
}
@media (max-width: 768px) {
  .cards-list {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    gap: 20px;
    padding: 0;
  }
  .banner h2 {
    width:100%;
    font-size: 24px;
    white-space:normal ;
    text-align: left;
    margin-left: 20px;
    line-height: 1;
  }
  .card ,img {
    width: 325px;
    height: 255px;
  }
  .card img {
    width: 325px;
    height: 255px;
  }
}