h1 { 
    font-size: 192px;
    color: #FF6060;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    width: fit-content;
    margin: 80px auto 0;
}

h2 {
    color: #FF6060;
    font-size: 36px;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 150px;
}
.error-link { 
    color: inherit;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 150px;
}