.navigation {
    width: 1240px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
nav .logo { 
   width:208px;
   height: 68px;
   margin-left:0px;
   padding: 0;
}  
nav a {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
}
nav a.active, nav a[aria-current="page"] {
  border-bottom: 1px solid #000;
  color: #000;
}
@media (max-width: 768px) {
  .nav {
   width:335px;
}
  .navigation {
    width:335px;
  }
  .links{
    white-space: nowrap;
    margin-right: 10px;
    
  } 
  nav .logo {
    width: 145px;
    height: 46px;
  }
  .links a {
    font-size: 12px;
  }

}